.div{


    display: flex;
padding: var(--large-32px, 32px);
flex-direction: column;
align-items: flex-end;
gap: var(--medium-12px, 12px);
align-self: stretch;
}

.room-card{


    display: flex;
height: 180px;
min-height: 160px;
padding: var(--medium-16px, 16px);
justify-content: space-between;
align-items: center;
row-gap: 17px;
align-self: stretch;
flex-wrap: wrap;


border-radius: var(--medium-16px, 16px);
background: var(--surface-minimal, #d9d9d8);
}

.div-align-left{


    display: flex;
    padding-right: var(--small-8px, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--medium-16px, 16px);
    flex: 1 0 0;
    align-self: stretch;


}

.placeholder{

    width: 128px;
align-self: stretch;
aspect-ratio: 1/1;

border-radius: var(--medium-16px, 16px);
background: #FFF;

/* Default Drop Shadow */
box-shadow: 0px 4px var(--large-32px, 32px) var(--small-8px, 8px) rgba(15, 14, 10, 0.10);


}

.flex-column-row{
    display: flex;
    min-width: 280px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;



}

.flex-column-div{


    display: flex;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}



.message{

    color: var(--text-primary, #0F0E0A);
font-feature-settings: 'liga' off;

/* Body/Emphasized */
font-family: "Supreme Variable";
font-size: var(--medium-16px, 16px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: 0.32px;
}

.messageflex{



    color: var(--text-primary, #0F0E0A);
font-feature-settings: 'liga' off;

/* Body/Regular */
font-family: "Supreme Variable";
font-size: var(--medium-16px, 140px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 0.32px;

}


.messagebuilding{



    color: var(--text-primary, #0F0E0A);
font-feature-settings: 'liga' off;

/* Body/Regular */
font-family: "Supreme Variable";
font-size: var(--medium-16px, 40px);
font-style: normal;
font-weight: 400;



}
.action-button{

    display: flex;
    width: 107px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;



}


.containers{

    position: relative;
    top: 15px;
 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}
.containersbuilding{

    position: relative;
    top: 15px;
 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    position: relative;
    top: 60px;
    /* right: 200px; */
    
}

.frame{

    width: 300px;
    height: 300px;
    flex-shrink: 0;

   

    border-radius: var(--medium-20px, 20px);
background: var(--surface-minimal, #EDEDEB);
box-shadow: 0px 4px var(--small-8px, 8px) 0px var(--surface-minimal, #EDEDEB);




}

.Moveframe{
    position: relative;
    top: 100px;
    right: 200px;


    
}


.Moveframe2{
    position: relative;
    top: 80px;
    right: 200px;


    
}

.Lineup {
    display: flex;
    padding: var(--small-6px, 6px);
    align-items: center;
    gap: var(--medium-20px, 100px);
}

.Lineupfile{
    display: flex;
    padding: var(--small-6px, 6px);
    align-items: center;
    gap: var(--medium-20px, 10px);

}
.ButtonEdit{

    display: flex;
    padding: 12px var(--medium-16px, 35px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;


    border-radius: var(--medium-12px, 12px);
border: 1px solid var(--border-primary, #0F0E0A);
background: var(--button-minimal, #EDEDEB);




color: var(--text-primary, #0F0E0A);
font-feature-settings: 'liga' off;

/* Body/Emphasized */
font-family: "Supreme Variable";
font-size: var(--medium-16px, 16px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: 0.32px;
}




.ButtonNewRoom{

    display: flex;
    width: 180px;
    padding: var(--medium-12px, 12px) var(--medium-16px, 16px);
    justify-content: center;
    align-items: center;
    gap: 10px;


    border-radius: var(--medium-12px, 12px);
    background: var(--button-brand-primary, #9F936F);




    color: var(--text-primary, #0F0E0A);
    font-feature-settings: 'liga' off;
    
    /* Body/Emphasized */
    font-family: "Supreme Variable";
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
}
.ButtonDelete{


    display: flex;
padding: 12px var(--medium-16px, 25px);
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;

border-radius: var(--medium-12px, 12px);
border: 1px solid var(--border-error, #F94839);
background: var(--button-minimal, #EDEDEB);



color: var(--surface-error, #F94839);
font-feature-settings: 'liga' off;

/* Body/Emphasized */
font-family: "Supreme Variable";
font-size: var(--medium-16px, 16px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: 0.32px;
}



/* ด้านล่าง หน้าEdit หน้าEdit หน้าEdit หน้าEdit หน้าEdit หน้าEdit หน้าEdit หน้าEdit หน้าEdit  */

.divEdit{


    display: flex;
padding: var(--large-32px, 32px);
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
}


.divEditin{

    display: flex;
padding: 10px;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;

}

.Feature_picture{


    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
}

.textFeature_picture{

    color: #000;
    font-feature-settings: 'liga' off;
    
    /* Body/Emphasized */
    font-family: "Supreme Variable";
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
    
}
.imgmin{

    height: 114px;
      width: 114px;
align-self: stretch;
aspect-ratio: 1/1;

background: var(--surface-mild-contrast, #C0C0BE);
}

.ButtonFile{

    display: flex;
padding: 12px var(--medium-16px, 16px);
justify-content: center;
align-items: center;
gap: 10px;

width: 210px;

border-radius: var(--medium-12px, 12px);
background: var(--button-minimal, #EDEDEB);
}

.Feature_pictureimg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.Picture{


    display: flex;
align-items: flex-start;
gap: var(--small-8px, 8px);
}

.imgexample{

    width: 114px;
height: 114px;
aspect-ratio: 1/1;

background: var(--surface-mild-contrast, #C0C0BE);
}

.room-info{

    display: flex;
align-items: flex-start;
gap: var(--medium-12px, 12px);
flex: 1 0 0;
align-self: stretch;


}

.flex-row-div{

    display: flex;
padding: 10px;
flex-direction: column;
justify-content: space-between;
align-items: center;
align-self: stretch;
}

.Frame81{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: var(--medium-16px, 16px);   
}

.ButtonSave{
    display: flex;
padding: var(--medium-12px, 12px) var(--medium-16px, 16px);
justify-content: center;
align-items: center;
gap: 10px;
align-self: stretch;

border-radius: var(--medium-12px, 12px);
background: var(--button-brand-primary, #9F936F);
}


.flex-row-div{

    display: flex;
justify-content: space-between;
align-items: flex-start;
flex: 1 0 0;
align-self: stretch;
}


.div1{
    display: flex;
padding: 0px var(--small-8px, 8px);
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
align-self: stretch;
}

.Frame83{

    display: flex;
    padding: var(--medium-12px, 12px);
    flex-direction: column;
    align-items: center;
    gap: var(--medium-12px, 12px);
    flex: 1 0 0;
    align-self: stretch;

    border-radius: var(--medium-16px, 16px);
background: var(--surface-mild-contrast, #C0C0BE);
}

.Description{

    color: #000;
font-feature-settings: 'liga' off;

/* Heading 3/Emphasized */
font-family: "Supreme Variable";
font-size: var(--large-32px, 32px);
font-style: normal;
font-weight: 700;
line-height: 110%; /* 35.2px */
    
}


.Frame84{

    display: flex;
padding: 10px;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
align-self: stretch;

border-radius: var(--medium-12px, 12px);
background: #FFF;
}

.textinFrame84{

    flex: 1 0 0;

    color: #000;
font-feature-settings: 'liga' off;

/* Body/Regular */
font-family: "Supreme Variable";
font-size: var(--medium-16px, 16px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 0.32px;
}

.div2{
    display: flex;
padding: 0px var(--small-8px, 8px);
flex-direction: column;
align-items: flex-start;
gap: 10px;
flex: 1 0 0;
align-self: stretch;


}

