

.nt {
    display: flex;
    padding: var(--small-6px, 6px);
    align-items: center;
    gap: var(--medium-20px, 20px);
}

.button {
    display: flex;
    padding: var(--medium-12px, 12px) var(--large-32px, 32px);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: var(--medium-20px, 20px);
    background: var(--button-primary, #B68D4F);
}

.Logout {
    display: flex;
    padding: var(--medium-12px, 12px) var(--large-32px, 32px);
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: var(--medium-20px, 20px);
    background: var(--button-primary, #ff3f3f);
}
