services:
  server:
    build:
      context: .
    ports:
      - 9000:80
  database:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: bc_house
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
    volumes:
      - db_data:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      PMA_HOST: database
      PMA_PORT: 3306
      PMA_ARBITRAEY: 1
    depends_on:
      - database
volumes:
  db_data: