body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E2EDD2;
}

.Success {
    text-align: center;
    background: #D2DCCA;
    width: 80%;
    max-width: 900px;
    padding: 50px;
    border-radius: 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-bottom: 50px;
}

.button {
    display: block;
    width: 80%;
    max-width: 600px;
    padding: 15px;
    background-color: #A3895B;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
}

.button:hover {
    background-color: #8B6F47;
}