:root {
    /* Base Color Variables */
    /* neutral */
    --color-neutral-0: hsla(60, 20%, 98%, 1);
    --color-neutral-100: hsla(60, 5%, 93%, 1);
    --color-neutral-200: hsla(60, 2%, 75%, 1);
    --color-neutral-300: hsla(60, 2%, 63%, 1);
    --color-neutral-400: hsla(60, 1%, 52%, 1);
    --color-neutral-600: hsla(60, 3%, 28%, 1);
    --color-neutral-1000: hsla(48, 20%, 5%, 1);

    /* gold */
    --color-gold-100: hsla(45, 20%, 53%, 1);
    --color-gold-300: hsla(45, 100%, 31%, 1);

    /* blue */
    --color-blue-100: hsla(139, 20%, 72%, 1);
    --color-blue-200: hsla(168, 20%, 61%, 1);

    /* red */
    --color-red-300: hsla(5, 95%, 60%, 1);
    --color-red-800: hsla(5, 90%, 50%, 1);

    /* green */
    --color-green-400: hsla(82, 41%, 47%, 1);
    --color-green-600: hsla(104, 52%, 32%, 1);

    /* Base Spacing Variables */
    /* small */
    --small-0px: 0px;
    --small-2px: 2px;
    --small-4px: 4px;
    --small-6px: 6px;
    --small-8px: 8px;

    /* medium */
    --medium-12px: 12px;
    --medium-16px: 16px;
    --medium-20px: 20px;
    --medium-24px: 24px;

    /* large */
    --large-32px: 32px;
    --large-40px: 40px;
    --large-48px: 48px;
    --large-64px: 64px;
    --large-80px: 80px;

    /* Tokens */
    /* surface */
    --surface-primary: var(--color-neutral-0);
    --surface-minimal: var(--color-neutral-100);
    --surface-mild-contrast: var(--color-neutral-200);
    --surface-contrast: var(--color-neutral-400);
    --surface-heavy-contrast: var(--color-neutral-1000);
    --surface-brand-primary: var(--color-gold-100);
    --surface-brand-primary-contrast: var(--color-gold-300);
    --surface-brand-secondary: var(--color-blue-100);
    --surface-brand-secondary-contrast: var(--color-blue-200);
    --surface-error: var(--color-red-300);
    --surface-error-contrast: var(--color-red-800);
    --surface-success: var(--color-green-400);
    --surface-success-contrast: var(--color-green-600);

    /* text */
    --text-primary: var(--color-neutral-1000);
    --text-secondary: var(--color-neutral-600);
    --text-contrast: var(--color-neutral-300);
    --text-invert: var(--color-neutral-0);
    --text-success: var(--color-green-400);
    --text-success-contrast: var(--color-green-600);
    --text-error: var(--color-red-300);
    --text-error-contrast: var(--color-red-800);

    /* border */
    --border-primary: var(--color-neutral-1000);
    --border-contrast: var(--color-neutral-400);
    --border-invert: var(--color-neutral-0);
    --border-brand-primary: var(--color-gold-100);
    --border-success: var(--color-green-400);
    --border-success-contrast: var(--color-green-600);
    --border-error: var(--color-red-300);
    --border-error-contrast: var(--color-red-800);

    /* button */
    --button-primary: var(--color-neutral-0);
    --button-minimal: var(--color-neutral-100);
    --button-mild-contrast: var(--color-neutral-200);
    --button-contrast: var(--color-neutral-400);
    --button-heavy-contrast: var(--color-neutral-1000);
    --button-brand-primary: var(--color-gold-100);
    --button-brand-primary-contrast: var(--color-gold-300);
    --button-brand-secondary: var(--color-blue-100);
    --button-brand-secondary-contrast: var(--color-blue-200);
    --button-error: var(--color-red-300);
    --button-error-contrast: var(--color-red-800);
    --button-success: var(--color-green-400);
    --button-success-contrast: var(--color-green-600);
}
.login {
    width: 510px;
    height: 420px;
    flex-shrink: 0;

    border-radius: var(--medium-20px);
    background: var(--surface-minimal);

    position: relative;
    left: -300px;

    top: -50px;
}

.containerLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    color: var(--text-primary);
    text-align: center;
    font-feature-settings: "liga" off;

    /* Heading 1/Regular */
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Supreme;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 70.4px */
    letter-spacing: -1.28px;
    text-transform: capitalize;
}

.home {
    position: relative;
    left: 60px;

    display: inline-flex;
    padding: var(--small-8px) var(--medium-16px) var(--small-8px)
        var(--medium-12px);
    justify-content: center;
    align-items: center;
    gap: var(--small-8px);
    font-size: var(--medium-20px);

    border-radius: var(--small-8px);
}

.o {
    position: relative;
    right: -140px;
}

.space {
    display: inline-flex;
    padding-top: var(--medium-24px);
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.ipg1 {
    display: flex;
    width: 500px;
    height: 88px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--small-4px);

    align-items: flex-start;
    gap: var(--medium-20px);
    align-self: stretch;
}

.rad {
    display: flex;
    padding-right: var(--small-8px);
    align-items: center;
    gap: var(--large-80px);
    align-self: stretch;
}

.MovetoggleButtons {
    position: relative;
    top: 230px;
    right: -470px;
}

.MovetoggleButtonn {
    position: relative;
    top: 270px;
    right: -470px;
}

.input {
    display: flex;
    padding: var(--small-4px) var(--medium-12px) var(--medium-12px)
        var(--medium-16px);
    align-items: center;
    align-self: stretch;

    border-radius: var(--medium-12px);
    border: 1px solid var(--border-primary);

    color: var(--text-contrast);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
}

.button {
    display: flex;
    width: 500px;
    height: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--small-4px);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: var(--small-2px) var(--small-4px);

    border-radius: var(--medium-20px);
    background: var(--button-primary);
}

.fontLogin {
    color: var(--text-primary);
    text-align: center;
    font-feature-settings: "liga" off;

    /* Heading 3/Emphasized */
    font-family: Supreme;
    font-size: var(--medium-20);
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 35.2px */
    text-transform: capitalize;
}

.Move {
    position: relative;
    top: -5px;
}

.fp {
    color: #000;
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
}

.space {
    display: inline-flex;
    padding-right: 250px;
    align-items: center;
}

.su {
    position: relative;
    right: -25px;

    color: #1f5eff;
    font-family: Sarabun;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.Frame4 {
    display: flex;
    padding: var(--large-80px) var(--large-40px) var(--large-80px)
        var(--large-80px);
    justify-content: center;
    align-items: center;
    gap: var(--large-80px);
    flex: 1 0 0;
    align-self: stretch;

    background: var(--surface-primary);
}

.Frame3 {
    display: flex;
    width: 540px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--large-80px);
}

.logologin {
    right: 50px;
    position: absolute;
    top: 30px;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: var(--medium-16px);
}
.textmo {
    right: 100px;
    position: relative;
}

.textcontent {
    color: var(--text-primary);
    font-feature-settings: "liga" off;

    /* Heading 3/Regular */
    font-family: Supreme;
    font-size: var(--medium-24px);
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 35.2px */

    right: -40px;
    position: relative;
}

.textLogin {
    color: var(--surface-contrast);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.textAm {
    color: var(--text-primary);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
}

.nt {
    display: flex;
    padding: var(--small-6px);
    align-items: center;
    gap: var(--medium-20);
}

.error1 {
    background-color: #f56565; /* bg-red-500 */
    width: fit-content; /* w-fit */
    font-size: 0.875rem; /* text-sm */
    color: white; /* text-white */
    padding-top: 0.25rem; /* py-1 (top and bottom padding) */
    padding-bottom: 0.25rem; /* py-1 (top and bottom padding) */
    padding-left: 0.75rem; /* px-3 (left and right padding) */
    padding-right: 0.75rem; /* px-3 (left and right padding) */
    border-radius: 0.375rem; /* rounded-md */
    margin-top: 0.5rem; /* mt-2 */

    position: relative;
    top: -15px;
    right: -80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    background-color: #f56565; /* bg-red-500 */
    width: fit-content; /* w-fit */
    font-size: 0.875rem; /* text-sm */
    color: white; /* text-white */
    padding-top: 0.25rem; /* py-1 (top and bottom padding) */
    padding-bottom: 0.25rem; /* py-1 (top and bottom padding) */
    padding-left: 0.75rem; /* px-3 (left and right padding) */
    padding-right: 0.75rem; /* px-3 (left and right padding) */
    border-radius: 0.375rem; /* rounded-md */
    margin-top: 0.5rem; /* mt-2 */

    position: relative;
    top: -15px;
    right: -170px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
