.login {
    width: 510px;
    height: 420px;
    flex-shrink: 0;

    border-radius: var(--medium-20px, 20px);
    background: var(--surface-minimal, #f9feef);

    position: relative;
    left: -300px;

    top: -50px;
}

.containerLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    color: #000;
    text-align: center;
    font-feature-settings: "liga" off;

    /* Heading 1/Regular */
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Supreme;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 70.4px */
    letter-spacing: -1.28px;
    text-transform: capitalize;
}

.home {
    position: relative;
    left: 60px;

    display: inline-flex;
    padding: 8px 16px 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;

    border-radius: 8px;
}

.o {
    position: relative;
    right: -140px;
}

.space {
    display: inline-flex;
    padding-top: 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.ipg1 {
    display: flex;
    width: 500px;
    height: 88px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--small-4px, 4px);

    align-items: flex-start;
    gap: var(--medium-20px, 20px);
    align-self: stretch;
}

.rad {
    display: flex;
    padding-right: var(--small-8px, 8px);
    align-items: center;
    gap: 80px;
    align-self: stretch;
}

.input {
    display: flex;
    padding: var(--medium-12px, 3px) var(--medium-12px, 12px)
        var(--medium-12px, 12px) var(--medium-16px, 16px);
    align-items: center;
    align-self: stretch;

    border-radius: var(--medium-12px, 12px);
    border: 1px solid var(--border-primary, #0f0e0a);

    color: var(--text-contrast, #0f0e0a);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
}

.button {
    display: flex;
    width: 500px;
    height: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--small-4px, 4px);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: var(--medium-24px, 2px) var(--small-8px, 4px);

    border-radius: var(--medium-20px, 20px);
    background: var(--button-primary, #9f936f);
}

.fontLogin {
    color: var(--text-primary, #0f0e0a);
    text-align: center;
    font-feature-settings: "liga" off;

    /* Heading 3/Emphasized */
    font-family: Supreme;
    font-size: var(--large-32px, 20px);
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 35.2px */
    text-transform: capitalize;
}

.Move {
    position: relative;
    top: -5px;
}

.fp {
    color: #000;
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
}

.space {
    display: inline-flex;
    padding-right: 250px;
    align-items: center;
}

.su {
    position: relative;
    right: -25px;

    color: #1f5eff;
    font-family: Sarabun;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.Frame4 {
    display: flex;
    padding: var(--large-80px, 80px) var(--large-40px, 40px)
        var(--large-80px, 80px) 80px;
    justify-content: center;
    align-items: center;
    gap: var(--large-80px, 80px);
    flex: 1 0 0;
    align-self: stretch;

    background: var(--surface-primary, #fbfbf9);
}

.Frame3 {
    display: flex;
    width: 540px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--large-80px, 80px);
}

.logologin {
    right: 50px;
    position: absolute;
    top: 30px;
    flex: 1 0 0;
    align-self: stretch;

    border-radius: var(--medium-16px, 16px);
}
.textmo {
    right: 100px;
    position: relative;
}

.textcontent {
    color: #000;
    font-feature-settings: "liga" off;

    /* Heading 3/Regular */
    font-family: Supreme;
    font-size: var(--large-32px, 25px);
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 35.2px */

    right: -40px;
    position: relative;
}

.textLogin {
    color: var(--surface-contrast, #858582);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.textAm {
    color: #000;
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
}

.nt {
    display: flex;
    padding: var(--small-6px, 6px);
    align-items: center;
    gap: var(--medium-20px, 20px);
}

.error1 {
    background-color: #f56565; /* bg-red-500 */
    width: fit-content; /* w-fit */
    font-size: 0.875rem; /* text-sm */
    color: white; /* text-white */
    padding-top: 0.25rem; /* py-1 (top and bottom padding) */
    padding-bottom: 0.25rem; /* py-1 (top and bottom padding) */
    padding-left: 0.75rem; /* px-3 (left and right padding) */
    padding-right: 0.75rem; /* px-3 (left and right padding) */
    border-radius: 0.375rem; /* rounded-md */
    margin-top: 0.5rem; /* mt-2 */

    position: relative;
    top: -15px;
    right: -80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    background-color: #f56565; /* bg-red-500 */
    width: fit-content; /* w-fit */
    font-size: 0.875rem; /* text-sm */
    color: white; /* text-white */
    padding-top: 0.25rem; /* py-1 (top and bottom padding) */
    padding-bottom: 0.25rem; /* py-1 (top and bottom padding) */
    padding-left: 0.75rem; /* px-3 (left and right padding) */
    padding-right: 0.75rem; /* px-3 (left and right padding) */
    border-radius: 0.375rem; /* rounded-md */
    margin-top: 0.5rem; /* mt-2 */

    position: relative;
    top: -15px;
    right: -170px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
