    .divhome{

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        align-self: stretch;
    }

                .top-navigation-mainhome{


            display: flex;
            padding: var(--medium-24px, 24px) var(--large-32px, 32px);
            justify-content: space-between;
            align-items: flex-end;
            align-self: stretch;

            background: var(--fade, rgba(251, 251, 249, 0.80));
            box-shadow: 0px var(--small-4px, 4px) var(--large-32px, 32px) var(--small-8px, 8px) rgba(15, 14, 10, 0.10);
            backdrop-filter: blur(calc(var(--large-32px, 32px) / 2));
        }

                            .left-navH{

                                display: flex;
                                padding: var(--small-6px, 6px);
                                align-items: center;
                                gap: var(--medium-20px, 20px);

                            }
                                
                                    .menu-dividerH{
                                        display: flex;
                                        align-items: center;
                                        gap: var(--small-8px, 8px);

                                    }

                                    .text-navigatorH{

                                        display: flex;
                                        align-items: center;
                                        gap: var(--medium-16px, 16px);
                                    }


                            .Frame70H{


                                display: flex;
                                justify-content: flex-end;
                                align-items: center;
                                gap: var(--medium-16px, 16px);
                            }




        .textHome{

            color: var(--text-primary, #0F0E0A);
            font-feature-settings: 'liga' off;
            
            /* Body/Regular */
            font-family: "Supreme Variable";
            font-size: var(--medium-16px, 16px);
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            letter-spacing: 0.32px;
        }

        
.ButtonH{
    display: flex;
    padding: var(--medium-12px, 12px) var(--medium-16px, 16px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--medium-12px, 12px);
    
    background: var(--button-brand-primary);

    color: var(--text-primary, #0f0e0a);
    font-feature-settings: "liga" off;
    font-family: "Supreme Variable";
    font-size:  20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
}               


                    .divhome2{

                        display: flex;
                        height: 800px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        align-self: stretch;
                    }


                    .title-bannerH{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        flex: 1 0 0;
                        align-self: stretch;
                    }

                            .imgmainH{

                                flex: 1 0 0;
                                align-self: stretch;
                                background: linear-gradient(0deg, rgba(136, 175, 167, 0.50) 0%, rgba(136, 175, 167, 0.50) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
                                filter: blur(calc(var(--medium-24px, 24px) / 2));
                            }

                                        .textimgH{
                                            position: absolute;
                                            right: 502px;
                                            top: 365px;
                                            color: var(--text-invert, #ff0000);
                                            text-align: center;
                                            font-feature-settings: 'liga' off;
                                            
                                            /* หัวข้อ 1/ธรรมดา */
                                            font-family: "IBM Plex Sans Thai Looped";
                                            font-size: var(--large-64px, 64px);
                                            font-style: normal;
                                            font-weight: 700;
                                            line-height: 110%; /* 70.4px */
                                            letter-spacing: -1.28px;
                                        }

            .divimgsH{
                display: flex;
                height: 320px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                align-self: stretch;

            }

                    .flex-column-divH{

                        display: flex;
                        min-height: 320px;
                        max-height: 720px;
                        justify-content: space-between;
                        align-items: center;
                        flex: 1 0 0;
                        align-self: stretch;

                    }
                                .imgss{

                                    display: flex;
                                    padding: 0px var(--small-4px, 4px);
                                    justify-content: center;
                                    align-items: center;
                                    gap: 10px;
                                    flex: 1 0 0;
                                    align-self: stretch;

                                            
/* Default Drop Shadow */
box-shadow: 0px 4px var(--large-32px, 32px) var(--small-8px, 8px) rgba(15, 14, 10, 0.10);
                                }

                                        .imgsss{

                                            flex: 1 0 0;
                                            align-self: stretch;
                                            border-radius: var(--small-8px, 8px);
                                            background: url(<path-to-image>) lightgray 50% / cover no-repeat;
                                            box-shadow: 0px 4px var(--medium-16px, 16px) 0px rgba(0, 0, 0, 0.25);
                                        }
                                

            .storyboard-slideH{
                display: flex;
                padding: var(--medium-16px, 16px) var(--large-64px, 64px);
                flex-direction: column;
                align-items: flex-start;
                gap: var(--medium-12px, 12px);
                align-self: stretch;
            }

                    .top-navigationH{

                        display: flex;
                        padding: var(--medium-24px, 24px) var(--large-64px, 64px);
                        align-items: center;
                        gap: var(--large-80px, 80px);
                        align-self: stretch;
                    }

                            .texttopmain{
                                color: var(--text-primary, #0F0E0A);
                                font-feature-settings: 'liga' off;
                                font-family: "Supreme Variable";
                                font-size: var(--medium-16px, 16px);
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
                                letter-spacing: 0.32px;
                                text-decoration-line: underline;
                                text-decoration-style: solid;
                                text-decoration-skip-ink: auto;
                                text-decoration-thickness: auto;
                                text-underline-offset: auto;
                                text-underline-position: from-font;
                            }

                            .texttop{

                                color: var(--text-primary, #0F0E0A);
                                font-feature-settings: 'liga' off;
                                
                                /* Body/Regular */
                                font-family: "Supreme Variable";
                                font-size: var(--medium-16px, 16px);
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 24px */
                                letter-spacing: 0.32px;
                            }

                    .middle-holderH{

                        display: flex;
                        max-width: 1700px;
                        padding: 0px var(--large-64px, 64px);
                        justify-content: space-between;
                        align-items: center;
                        align-self: stretch;
                    }

                            .flex-row-div{

                                display: flex;
                                max-width: 700px;
                                flex-direction: column;
                                align-items: center;
                                gap: var(--medium-12px, 12px);
                                flex: 1 0 0;
                                align-self: stretch;
                            }


                                    .imgflex-row-div{

                                        height: 520px;
                                        min-width: 320px;
                                        align-self: stretch;

                                        border-radius: var(--medium-16px, 16px);
                                        background: url(<path-to-image>) lightgray 50% / cover no-repeat;
                                        
                                        /* Default Drop Shadow */
                                        box-shadow: 0px 4px var(--large-32px, 32px) var(--small-8px, 8px) rgba(15, 14, 10, 0.10);
                                    }

                                    .buttoonsimgflex-row-div{
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: flex-start;
                                        align-self: stretch;
                                    }

                                            .Button-right{

                                                display: flex;
                                                padding: 1px 300px ;
                                                height: var(--large-80px, 80px);
                                               
                                                justify-content: center;
                                                align-items: center;
                                                gap: 8px;
                                                flex: 1 0 0;
                                                border-radius: var(--large-40px, 40px);
                                                background: var(--button-brand-secondary, #A9C6B2);
                                            }

                            .storyboard-text-rightbutton{

                                display: flex;
                                padding: 0px var(--large-32px, 32px);
                                flex-direction: column;
                                align-items: center;
                                gap: var(--large-32px, 32px);
                                align-self: stretch;
                            }

                                    .textstoryboard-text-rightbutton{

                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;
                                        gap: 10px;
                                    }

                                                                
                                            .textstoryboard-text-rightbuttonmain{

                                                align-self: stretch;
                                                color: var(--text-primary, #0F0E0A);
                                                font-feature-settings: 'liga' off;
                                                
                                                /* Heading 1/Regular */
                                                font-family: "Supreme Variable";
                                                font-size: var(--large-64px, 64px);
                                                font-style: normal;
                                                font-weight: 700;
                                                line-height: 110%; /* 70.4px */
                                                letter-spacing: -1.28px;
                                            }


                                            .textstoryboard-text{

                                                min-width: 320px;
                                                max-width: 520px;
                                                align-self: stretch;

                                                color: var(--text-primary, #0F0E0A);
                                                font-feature-settings: 'liga' off;
                                                
                                                /* ย่อหน้า/ธรรมดา */
                                                font-family: "IBM Plex Sans Thai Looped";
                                                font-size: var(--medium-16px, 16px);
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 150%; /* 24px */
                                                letter-spacing: 0.32px;
                                            }

