.container {
    position: relative;
    top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SU {
    color: #000;
    font-feature-settings: "liga" off;

    /* Heading 2/Regular */
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Supreme;
    font-size: var(--large-48px, 48px);
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 52.8px */
    letter-spacing: -0.48px;
}

.frame {
    width: 700px;
    height: 500px;
    flex-shrink: 0;

    position: relative;
    left: 110px;
    top: -130px;
}

.Frame3 {
    display: flex;
    width: 540px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--large-80px, 80px);


    position: relative;
    left: -300px;

    top: -90px;
}

.signup {
    position: relative;
    left: 60px;

    display: inline-flex;
    padding: 8px 16px 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;

    border-radius: 8px;
}

.fon {
    color: var(--text-primary, #0f0e0a);
    font-feature-settings: "liga" off;

    /* Body/Emphasized */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
}

.Move {
    position: relative;
    top: 30px;
}

.nt {
    display: flex;
    padding: var(--small-6px, 6px);
    align-items: center;
    gap: var(--medium-20px, 20px);
}

.ntPF {
    display: flex;
    padding: var(--small-6px, 6px);
    align-items: center;
    gap: var(--medium-20px, 50px);
}

.ntED {
    display: flex;
    padding: var(--small-6px, 6px);
    align-items: center;
    gap: var(--medium-20px, 50px);
}


.inputDayED {
    display: flex;
    padding: var(--medium-12px, 5px) var(--medium-12px, 5px)
        var(--medium-12px, 5px) var(--medium-16px, 10px);
    align-items: center;
    align-self: stretch;

    border-radius: var(--medium-12px, 12px);
    border: 1px solid var(--border-primary, #0f0e0a);

    color: var(--text-contrast, #0f0e0a);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;

    width: 100%;
    padding: -20px;
    /* เพิ่มพื้นที่ด้านขวาให้กับลูกศร */
    padding-right: 20px;
    box-sizing: border-box;
}

.inputMonthED {
    display: flex;
    padding: var(--medium-12px, 5px) var(--medium-12px, 40px)
        var(--medium-12px, 5px) var(--medium-16px, 10px);
    align-items: center;
    align-self: stretch;

    border-radius: var(--medium-12px, 12px);
    border: 1px solid var(--border-primary, #0f0e0a);

    color: var(--text-contrast, #0f0e0a);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;


    width: 100%;
    padding: -20px;
    /* เพิ่มพื้นที่ด้านขวาให้กับลูกศร */
    padding-right: 20px;
    box-sizing: border-box;



}


.inputYearED {
    display: flex;
    padding: var(--medium-12px, 5px) var(--medium-12px, 70px)
        var(--medium-12px, 5px) var(--medium-16px, 10px);
    align-items: center;
    align-self: stretch;

    border-radius: var(--medium-12px, 12px);
    border: 1px solid var(--border-primary, #0f0e0a);

    color: var(--text-contrast, #0f0e0a);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;



    width: 100%;
    padding: -20px;
    /* เพิ่มพื้นที่ด้านขวาให้กับลูกศร */
    padding-right: 20px;
    box-sizing: border-box;
}




.inputDay {
    display: flex;
    padding: var(--medium-12px, 5px) var(--medium-12px, 165px)
        var(--medium-12px, 5px) var(--medium-16px, 10px);
    align-items: center;
    align-self: stretch;

    border-radius: var(--medium-12px, 12px);
    border: 1px solid var(--border-primary, #0f0e0a);

    color: var(--text-contrast, #0f0e0a);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;

   
}

.inputMonth {
    display: flex;
    padding: var(--medium-12px, 5px) var(--medium-12px, 135px)
        var(--medium-12px, 5px) var(--medium-16px, 10px);
    align-items: center;
    align-self: stretch;

    border-radius: var(--medium-12px, 12px);
    border: 1px solid var(--border-primary, #0f0e0a);

    color: var(--text-contrast, #0f0e0a);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;





}


.inputYear {
    display: flex;
    padding: var(--medium-12px, 5px) var(--medium-12px, 150px)
        var(--medium-12px, 5px) var(--medium-16px, 10px);
    align-items: center;
    align-self: stretch;

    border-radius: var(--medium-12px, 12px);
    border: 1px solid var(--border-primary, #0f0e0a);

    color: var(--text-contrast, #0f0e0a);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;



}

.Moveinput1 {
    position: relative;
    top: 60px;
}

.frameinput {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--medium-20px, 20px);
}

.fontMonth {
    color: var(--text-secondary, #4a4a46);
    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;

    position: relative;
    top: 100px;
    right: -15px;
}

.frameinput2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--small-4px, 4px);
    align-self: stretch;

    position: relative;
    top: 30px;
}

.fip2 {
    color: var(--text-secondary, #4a4a46);
    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;

    position: absolute;
    top: -30px;
    right: 650px;
}

.fip3 {
    color: var(--text-secondary, #4a4a46);
    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;
    width: 100px;
    position: absolute;
    top: 35px;
    right: 590px;
}

.fip4 {
    color: var(--text-secondary, #4a4a46);
    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;

    position: absolute;
    top: 105px;
    right: 590px;
}

.fip5 {
    color: var(--text-secondary, #4a4a46);
    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;
    display: flex;
    padding-right: var(--small-8px, 8px);
    align-items: center;
    gap: 80px;
    align-self: stretch;
    position: absolute;
    top: 105px;
    right: 320px;
}

.fip6 {
    color: var(--text-secondary, #4a4a46);
    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;
    display: flex;
    padding-right: var(--small-8px, 8px);
    align-items: center;
    gap: 80px;
    align-self: stretch;
    position: absolute;

    top: 105px;
    right: 80px;

 
}

.fip7 {
    color: var(--text-secondary, #4a4a46);
    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;
    display: flex;
    padding-right: var(--small-8px, 8px);
    align-items: center;
    gap: 80px;
    align-self: stretch;
    position: absolute;
    width: 100px;
    top: 175px;
    right: 590px;
}
.fip78 {
    color: var(--text-secondary, #4a4a46);
    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;
    display: flex;
    padding-right: var(--small-8px, 8px);
    align-items: center;
    gap: 80px;
    align-self: stretch;
    position: absolute;
    width: 100px;
    top: 240px;
    right: 590px;
}



.fip8 {
    color: var(--text-secondary, #4a4a46);
    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;

    display: flex;
    padding-right: var(--small-8px, 8px);
    align-items: center;
    gap: 80px;
    align-self: stretch;
    position: absolute;
    width: 100px;
    top: 307px;
    right: 590px;
}

.fip9 {
    display: flex;
    padding-right: var(--small-8px, 8px);
    align-items: center;
    gap: 80px;
    align-self: stretch;
    position: absolute;
    width: 300px;
    top: 372px;
    right: 390px;

    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;
}

.fip10 {
    display: flex;
    padding-right: var(--small-8px, 8px);
    align-items: center;
    gap: 80px;
    align-self: stretch;
    position: absolute;
    top: 438px;
    right: 660px;

    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;
}

.fip11{
    display: flex;
    padding-right: var(--small-8px, 8px);
    align-items: center;
    gap: 80px;
    align-self: stretch;
    position: absolute;
    top: 503px;
    right: 645px;


    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;


}

.po {


    display: flex;
    width: 540px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--large-80px, 80px);
     
    position: relative;
    top: 20px;
    right: 170px;
}

.Select {
    display: flex;
    padding: var(--medium-12px, 12px) var(--medium-12px, 12px)
        var(--medium-12px, 12px) var(--medium-16px, 16px);
    align-items: center;
    align-self: stretch;

    border-radius: var(--medium-12px, 12px);
    border: 1px solid var(--border-primary, #0f0e0a);

    color: var(--text-primary, #0f0e0a);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
}

.input {
    display: flex;
    padding: var(--medium-12px, 12px) var(--medium-12px, 12px)
        var(--medium-12px, 0px) var(--medium-16px, 16px);
    align-items: center;
    align-self: stretch;

    border-radius: var(--medium-12px, 12px);
    border: 1px solid var(--border-primary, #0f0e0a);

    color: var(--text-contrast, #0f0e0a);
    font-feature-settings: "liga" off;

    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
}

.button {
    display: flex;
    width: 702px;
    height: 69px;
    padding: var(--medium-24px, 24px) var(--small-8px, 8px);
    justify-content: center;
    align-items: center;
    gap: var(--small-0px, 0px);
    flex-shrink: 0;

    border-radius: var(--medium-20px, 20px);
    background: var(--button-primary, #9f936f);
}

.fontsignup {
    color: var(--text-primary, #0f0e0a);
    font-feature-settings: "liga" off;

    /* Body/Emphasized */
    font-family: Supreme;
    font-size: var(--medium-16px, 25px);
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;
}

.error {
    background-color: #f56565; /* bg-red-500 */
    width: fit-content; /* w-fit */
    font-size: 0.875rem; /* text-sm */
    color: white; /* text-white */
    padding-top: 0.25rem; /* py-1 (top and bottom padding) */
    padding-bottom: 0.25rem; /* py-1 (top and bottom padding) */
    padding-left: 0.75rem; /* px-3 (left and right padding) */
    padding-right: 0.75rem; /* px-3 (left and right padding) */
    border-radius: 0.375rem; /* rounded-md */
    margin-top: 0.5rem; /* mt-2 */

    position: relative;
    top: 45px;
    right: -210px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.success {
    background-color: #3df904; /* bg-red-500 */
    width: fit-content; /* w-fit */
    font-size: 0.875rem; /* text-sm */
    color: white; /* text-white */
    padding-top: 0.25rem; /* py-1 (top and bottom padding) */
    padding-bottom: 0.25rem; /* py-1 (top and bottom padding) */
    padding-left: 0.75rem; /* px-3 (left and right padding) */
    padding-right: 0.75rem; /* px-3 (left and right padding) */
    border-radius: 0.375rem; /* rounded-md */
    margin-top: 0.5rem; /* mt-2 */

    position: relative;
    top: 45px;
    right: -210px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fip44{
    color: var(--text-secondary, #4a4a46);
    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;

    position: absolute;
    top: 105px;
    right: 585px;
}

.fip55{
    color: var(--text-secondary, #4a4a46);
    font-feature-settings: "liga" off;
    font-family: Supreme;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 21px */
    letter-spacing: 0.28px;

    position: absolute;
    top: 105px;
    right: 325px;
}


 


    .fip66{
        color: var(--text-secondary, #4a4a46);
        font-feature-settings: "liga" off;
        font-family: Supreme;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 21px */
        letter-spacing: 0.28px;
    
        position: absolute;
        top: 105px;
        right: 100px;
    }


    .fip77{
        color: var(--text-secondary, #4a4a46);
        font-feature-settings: "liga" off;
        font-family: Supreme;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 21px */
        letter-spacing: 0.28px;
    
        position: absolute;
        top: 175px;
        right: 660px;
    }

    .fip88{
        color: var(--text-secondary, #4a4a46);
        font-feature-settings: "liga" off;
        font-family: Supreme;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 21px */
        letter-spacing: 0.28px;
    
        position: absolute;
        top: 305px;
        width: 100px;
        right: 590px;
    }

    .fip99{
        color: var(--text-secondary, #4a4a46);
        font-feature-settings: "liga" off;
        font-family: Supreme;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 21px */
        letter-spacing: 0.28px;
    
        position: absolute;
        top: 242px;
        width: 100px;
        right: 590px;
    }

    .fip100{
        color: var(--text-secondary, #4a4a46);
        font-feature-settings: "liga" off;
        font-family: Supreme;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 21px */
        letter-spacing: 0.28px;
    
        position: absolute;
        top: 370px;
        width: 300px;
        right: 390px;
    }

    .fip111{
        color: var(--text-secondary, #4a4a46);
        font-feature-settings: "liga" off;
        font-family: Supreme;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 21px */
        letter-spacing: 0.28px;
    
        position: absolute;
        top: 435px;
        width: 100px;
        right: 590px;
    }

    .Moveinputimg {
        position: relative;
        top: 80px;
        right: 200px;


        
    }
 