:root {
    /* Base Color Variables */
    /* neutral */
    --color-neutral-0: hsla(60, 20%, 98%, 1);
    --color-neutral-100: hsla(60, 5%, 93%, 1);
    --color-neutral-200: hsla(60, 2%, 75%, 1);
    --color-neutral-300: hsla(60, 2%, 63%, 1);
    --color-neutral-400: hsla(60, 1%, 52%, 1);
    --color-neutral-600: hsla(60, 3%, 28%, 1);
    --color-neutral-1000: hsla(48, 20%, 5%, 1);

    /* gold */
    --color-gold-100: hsla(45, 20%, 53%, 1);
    --color-gold-300: hsla(45, 100%, 31%, 1);

    /* blue */
    --color-blue-100: hsla(139, 20%, 72%, 1);
    --color-blue-200: hsla(168, 20%, 61%, 1);

    /* red */
    --color-red-300: hsla(5, 95%, 60%, 1);
    --color-red-800: hsla(5, 90%, 50%, 1);

    /* green */
    --color-green-400: hsla(82, 41%, 47%, 1);
    --color-green-600: hsla(104, 52%, 32%, 1);

    /* Base Spacing Variables */
    /* small */
    --small-0px: 0px;
    --small-2px: 2px;
    --small-4px: 4px;
    --small-6px: 6px;
    --small-8px: 8px;

    /* medium */
    --medium-12px: 12px;
    --medium-16px: 16px;
    --medium-20px: 20px;
    --medium-24px: 24px;

    /* large */
    --large-32px: 32px;
    --large-40px: 40px;
    --large-48px: 48px;
    --large-64px: 64px;
    --large-80px: 80px;

    /* Tokens */
    /* surface */
    --surface-primary: var(--color-neutral-0);
    --surface-minimal: var(--color-neutral-100);
    --surface-mild-contrast: var(--color-neutral-200);
    --surface-contrast: var(--color-neutral-400);
    --surface-heavy-contrast: var(--color-neutral-1000);
    --surface-brand-primary: var(--color-gold-100);
    --surface-brand-primary-contrast: var(--color-gold-300);
    --surface-brand-secondary: var(--color-blue-100);
    --surface-brand-secondary-contrast: var(--color-blue-200);
    --surface-error: var(--color-red-300);
    --surface-error-contrast: var(--color-red-800);
    --surface-success: var(--color-green-400);
    --surface-success-contrast: var(--color-green-600);

    /* text */
    --text-primary: var(--color-neutral-1000);
    --text-secondary: var(--color-neutral-600);
    --text-contrast: var(--color-neutral-300);
    --text-invert: var(--color-neutral-0);
    --text-success: var(--color-green-400);
    --text-success-contrast: var(--color-green-600);
    --text-error: var(--color-red-300);
    --text-error-contrast: var(--color-red-800);

    /* border */
    --border-primary: var(--color-neutral-1000);
    --border-contrast: var(--color-neutral-400);
    --border-invert: var(--color-neutral-0);
    --border-brand-primary: var(--color-gold-100);
    --border-success: var(--color-green-400);
    --border-success-contrast: var(--color-green-600);
    --border-error: var(--color-red-300);
    --border-error-contrast: var(--color-red-800);

    /* button */
    --button-primary: var(--color-neutral-0);
    --button-minimal: var(--color-neutral-100);
    --button-mild-contrast: var(--color-neutral-200);
    --button-contrast: var(--color-neutral-400);
    --button-heavy-contrast: var(--color-neutral-1000);
    --button-brand-primary: var(--color-gold-100);
    --button-brand-primary-contrast: var(--color-gold-300);
    --button-brand-secondary: var(--color-blue-100);
    --button-brand-secondary-contrast: var(--color-blue-200);
    --button-error: var(--color-red-300);
    --button-error-contrast: var(--color-red-800);
    --button-success: var(--color-green-400);
    --button-success-contrast: var(--color-green-600);
}

.navv {
    display: flex;
    padding: 24px var(--large-32px, 32px);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(--fade, rgba(255, 255, 255, 0.5));
    box-shadow: var(--small-0px, 0px) var(--small-0px, 0px) var(--large-32px, 32px) var(--small-8px, 8px) var(--surface-mild-contrast, #c0c0be);
    -webkit-backdrop-filter: blur(calc(var(--large-32px, 32px) / 2));
    backdrop-filter: blur(calc(var(--large-32px, 32px) / 2));
}

.nt {
    display: flex;
    padding: var(--small-6px, 6px);
    align-items: center;
    gap: var(--medium-20px, 20px);
}

.s {
    display: flex;
    padding: var(--medium-12px, 12px) var(--medium-16px, 16px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--medium-12px, 12px);

    background: var(--button-brand-primary);

    color: var(--text-primary, #0f0e0a);
    font-feature-settings: "liga" off;
    font-family: "Supreme Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 24px */
    letter-spacing: 0.32px;
}

.Logout {
    display: flex;
    padding: var(--medium-12px, 12px) var(--large-32px, 32px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--medium-20px, 20px);
    background: var(--button-primary, #ff3f3f);
}

/* Media Queries */
@media (max-width: 768px) {
    .navv {
        flex-direction: column;
        padding: 16px var(--large-32px, 32px);
    }

    .s {
        width: 100%;
        padding: var(--small-6px, 6px) var(--small-12px, 12px);
    }

    .Logout {
        width: 100%;
        padding: var(--small-6px, 6px) var(--small-12px, 12px);
    }
}

@media (max-width: 480px) {
    .navv {
        flex-direction: column;
        padding: 8px var(--large-32px, 32px);
    }

    .s {
        width: 100%;
        padding: var(--small-6px, 6px) var(--small-8px, 8px);
    }

    .Logout {
        width: 100%;
        padding: var(--small-6px, 6px) var(--small-8px, 8px);
    }
}