.containers{

    position: relative;
    top: 15px;
 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    
}

.SU{
    color: #000;
    font-feature-settings: 'liga' off;
    
    /* Heading 2/Regular */
    -webkit-text-stroke-width: 1;
    -webkit-text-stroke-color: #000;
    font-family: Supreme;
    font-size: var(--large-48px, 48px);
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 52.8px */
    letter-spacing: -0.48px;

}


.frame{

    width: 600px;
    height: 1350px;
    flex-shrink: 0;

    border-radius: var(--medium-20px, 20px);
background: var(--surface-minimal, #EDEDEB);
box-shadow: 0px 4px var(--small-8px, 8px) 0px var(--surface-minimal, #EDEDEB);




}


.signup{

   

    position: relative;
    left: 150px;
    
    display: inline-flex;
    padding: 8px 16px 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;

    border-radius: 8px;
    



}

.fon{
    color: var(--text-primary, #0F0E0A);
font-feature-settings: 'liga' off;

/* Body/Emphasized */
font-family: Supreme;
font-size: var(--medium-16px, 16px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: 0.32px;
}

.Move { 

    position: relative;
    top: 20px;
  

}

.nt{



        display: flex;
    padding: var(--small-6px, 6px);
    align-items: center;
    gap: var(--medium-20px, 20px);

}

.input1{

    display: flex;
padding: var(--medium-12px, 12px) var(--medium-12px, 12px) var(--medium-12px, 5px) var(--medium-16px, 16px);
align-items: center;
align-self: stretch;

border-radius: var(--medium-12px, 12px);
border: 1px solid var(--border-primary, #0F0E0A);






color: var(--text-contrast, #0F0E0A);
font-feature-settings: 'liga' off;

/* Body/Regular */
font-family: Supreme;
font-size: var(--medium-16px, 16px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 0.32px;

}

.Moveinput1{
    position: relative;
    top: 50px;


}

.frameinput{


    display: flex;
flex-direction: column;
align-items: center;
gap: var(--medium-20px, 20px);
}



.fontMonth{

    color: var(--text-secondary, #4A4A46);
font-feature-settings: 'liga' off;
font-family: Supreme;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 21px */
letter-spacing: 0.28px;

position: relative;
top: 20px;
right: -15px;

}


.frameinput2{

    display: flex;
flex-direction: column;
align-items: flex-start;
gap: var(--small-4px, 4px);
align-self: stretch;
}

.fip2{

    
    display: flex;
    padding-right: var(--small-8px, 8px);
    align-items: center;
    gap: 80px;
    align-self: stretch;
    position: relative;
    top: 8px;
}

.Select{


    display: flex;
padding: var(--medium-12px, 12px) var(--medium-12px, 12px) var(--medium-12px, 12px) var(--medium-16px, 16px);
align-items: center;
align-self: stretch;

border-radius: var(--medium-12px, 12px);
border: 1px solid var(--border-primary, #0F0E0A);



color: var(--text-primary, #0F0E0A);
font-feature-settings: 'liga' off;

/* Body/Regular */
font-family: Supreme;
font-size: var(--medium-16px, 16px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 0.32px;
}

.input{

    display: flex;
    padding: var(--medium-12px, 12px) var(--medium-12px, 12px) var(--medium-12px, 12px) var(--medium-16px, 16px);
    align-items: center;
    align-self: stretch;
    
    border-radius: var(--medium-12px, 12px);
    border: 1px solid var(--border-primary, #0F0E0A);
   


    
    color: var(--text-contrast, #0F0E0A);
    font-feature-settings: 'liga' off;
    
    /* Body/Regular */
    font-family: Supreme;
    font-size: var(--medium-16px, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.32px;


}

.button{

   display: flex;
width: 400px;
height: 10px;
padding: var(--medium-24px, 24px) var(--small-8px, 8px);
justify-content: center;
align-items: center;
gap: var(--small-0px, 0px);
flex-shrink: 0;


border-radius: var(--medium-20px, 20px);
background: var(--button-primary, #B68D4F);




}


.fontsignup{

    color: var(--text-primary, #0F0E0A);
font-feature-settings: 'liga' off;

/* Body/Emphasized */
font-family: Supreme;
font-size: var(--medium-16px, 30px);
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: 0.32px;


}

.error{

    
        background-color: #f56565; /* bg-red-500 */
        width: fit-content; /* w-fit */
        font-size: 0.875rem; /* text-sm */
        color: white; /* text-white */
        padding-top: 0.25rem; /* py-1 (top and bottom padding) */
        padding-bottom: 0.25rem; /* py-1 (top and bottom padding) */
        padding-left: 0.75rem; /* px-3 (left and right padding) */
        padding-right: 0.75rem; /* px-3 (left and right padding) */
        border-radius: 0.375rem; /* rounded-md */
        margin-top: 0.5rem; /* mt-2 */



        
    position: relative;
    top: 890px;
    right: -10px;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;


   
}



.success{


    background-color: #3df904; /* bg-red-500 */
    width: fit-content; /* w-fit */
    font-size: 0.875rem; /* text-sm */
    color: white; /* text-white */
    padding-top: 0.25rem; /* py-1 (top and bottom padding) */
    padding-bottom: 0.25rem; /* py-1 (top and bottom padding) */
    padding-left: 0.75rem; /* px-3 (left and right padding) */
    padding-right: 0.75rem; /* px-3 (left and right padding) */
    border-radius: 0.375rem; /* rounded-md */
    margin-top: 0.5rem; /* mt-2 */

            
    position: relative;
    top: 45px;
    right: -210px;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  


}

.error1{


    
    
    background-color: #f56565; /* bg-red-500 */
    width: fit-content; /* w-fit */
    font-size: 0.875rem; /* text-sm */
    color: white; /* text-white */
    padding-top: 0.25rem; /* py-1 (top and bottom padding) */
    padding-bottom: 0.25rem; /* py-1 (top and bottom padding) */
    padding-left: 0.75rem; /* px-3 (left and right padding) */
    padding-right: 0.75rem; /* px-3 (left and right padding) */
    border-radius: 0.375rem; /* rounded-md */
    margin-top: 0.5rem; /* mt-2 */



    
position: relative;
top: 890px;
right: -10px;

display: flex;
flex-direction: column;
justify-content: center; 
align-items: center;




}


.buttonIconLeft{


    display: flex;
width: 50px;
height: var(--large-80px, 50px);
padding: 16px;
justify-content: center;
align-items: center;
gap: 8px;


border-radius: var(--large-40px, 40px);
background: var(--button-secondary, #B68D4F);


}

.MovetoggleButtons {
    position: relative;
    top: -257px;
    right:  -270px;
}

.MovetoggleButtonn {
    position: relative;
    top: -235px;
    right: -270px;
}

.buttoneye{


    display: flex;
width: 15px;
height: var(--large-80px, 15px);
padding: 12px;
justify-content: center;
align-items: center;
gap: 8px;


border-radius: var(--large-40px, 40px);
background: var(--button-secondary, #ffffff);


}